<p-card styleClass="home-body-card">
    <p-table [value]="_list" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Descripción</th>
                <th>Resumen</th>
                <ng-container *ngIf="isAdmin">
                    <th>Acciones</th>
                    <th></th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <ng-container *ngIf="!loading; else Skeleton">
                <tr>
                    <td>{{ product.body }}</td>
                    <td>{{ product.title }}</td>
                    <ng-container *ngIf="isAdmin">
                        <td><i class="pi pi-pencil vertical-align horizontal-align cursor-pointer"
                                style="margin-right: 10px;" (click)="edit(product)"></i></td>
                        <td><i class="pi pi-plus-circle vertical-align horizontal-align cursor-pointer"
                                style="margin-right: 10px;" (click)="add()"></i></td>
                    </ng-container>
                </tr>
            </ng-container>
            <ng-template #Skeleton>
                <tr>
                    <td><p-skeleton /></td>
                    <td><p-skeleton /></td>
                    <ng-container *ngIf="isAdmin">
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                    </ng-container>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="5" [rows]="10" [totalRecords]="list?.length" />
</p-card>
<ng-container *ngIf="showModal">
    <edit-data-modal (closeModal)="closeModal($event)" [modalData]="modalData" [visible]="showModal"></edit-data-modal>
</ng-container>