.grid {
    display: flex;
}

.col-6 {
    flex: 1;
    padding: 1rem;

    button {
        border-radius: 20px;
        background-color: rgb(21, 91, 221);
        height: 38px;
        border: 0;
    }

    .option-menu {
        width: auto;
        margin-top: 45px;
        position: absolute;
        background-color: white;
        padding: 10px;
        border-radius: 20px;

        ul {
            margin: 0;
            padding: 0;
            font-size: 20px;
        }

        :hover {
            background-color: grey;
        }
    }
}