<div class="main-div">
    <div class="grid home-greeting-card vertical-align">
        <div class="col-6">
            <p>Hola, {{currentUser.username}}</p>
        </div>
        <div class="col-6" style="justify-content: end; display: flex; margin-right: 20px;">
            <button icon="pi pi-ellipsis-h" pButton (click)="seeOptions()"></button>
            <div *ngIf="optionMenu" class="option-menu">
                <ul *ngFor="let item of items" class="cursor-pointer"
                    (click)="clickOption(item)">
                    <i class="pi {{item.icon}}" style="margin-right: 10px;"></i>
                    {{item.label}}
                </ul>
            </div>
        </div>
    </div>
    <p-card styleClass="home-body-card">
        <p-table [value]="_list" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Descripción</th>
                    <th>Resumen</th>
                    <ng-container *ngIf="isAdmin">
                        <th>Acciones</th>
                        <th></th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.body }}</td>
                    <td>{{ product.title }}</td>
                    <ng-container *ngIf="isAdmin">
                        <td><i class="pi pi-pencil vertical-align horizontal-align cursor-pointer" style="margin-right: 10px;" (click)="edit(product)"></i></td>
                        <td><i class="pi pi-plus-circle vertical-align horizontal-align cursor-pointer" style="margin-right: 10px;" (click)="add()"></i></td>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="5" [rows]="10" [totalRecords]="list.length"/>
    </p-card>
</div>

<ng-container *ngIf="showModal">
    <edit-data-modal (closeModal)="closeModal($event)" [modalData]="modalData" [visible]="showModal"></edit-data-modal>
</ng-container>