<div class="home-div">
    <!-- <p-card styleClass="home-greeting-card vertical-align" >
        <p-card-content style="display: flex; width: 100% !important">
            <div>
                <p>Hola, {{currentUser.username}}</p>
            </div>
            <div>
                <i class="pi pi-ellipsis-h"></i>
            </div>
        </p-card-content>
    </p-card> -->
    <!-- <p-card styleClass="home-greeting-card"> -->
    <div class="grid home-greeting-card vertical-align">
        <div class="col-6">
            <p>Hola, {{currentUser.username}}</p>
        </div>
        <div class="col-6" style="justify-content: end; display: flex; margin-right: 20px;">
            <!-- <i class="pi pi-ellipsis-h"></i> -->
            <button icon="pi pi-ellipsis-h" pButton style="border-radius: 20px;" (click)="seeOptions()"></button>
            <div *ngIf="optionMenu" style="width: auto; margin-top: 45px; position: absolute; background-color: white; padding: 10px; border-radius: 20px;">
                <ul *ngFor="let item of items" style="margin: 0; padding: 0; font-size: 20px;cursor: pointer;" (click)="clickOption(item)">
                    <i class="pi {{item.icon}}" style="margin-right: 10px;"></i>
                    {{item.label}}
                </ul>
            </div>
        </div>
    </div>
    <!-- </p-card> -->
    <p-card styleClass="home-body-card">

    </p-card>
</div>