@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(77 75 111) 0%, rgba(20, 75, 181, 1) 100%);

    input {
        width: 100%;
        /* border: 0 */
    }

    p-password div {
        width: 100%;
    }

    p-inputgroup {
        margin: 2% 0;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}

.horizontal-align {
    display: flex;
    justify-content: center;
}

.main-div {
    margin: 10% auto;
    width: 70%;
    animation: fadeIn 0.4s ease normal;
}

.login-card {
    justify-content: center;
    display: flex;
    padding: 2%;
    border-radius: 10px;
    background: rgb(231, 231, 231);

    .title {
        font-size: 25px;
        font-weight: 500;
    }

    input {
        width: 100%;
        border: 0
    }

    animation: fadeIn 0.4s ease normal;
}

.home-greeting-card {
    p {
        margin: auto;
    }

    height: 100px;
    padding-left: 3%;
    border-radius: 10px;
    background: rgb(231, 231, 231);
    font-size: 30px;

    i {
        cursor: pointer;
    }
}

.home-body-card {
    margin-top: 1%;
    border-radius: 10px;
    background: rgb(231, 231, 231);
}

.cursor-pointer {
    cursor: pointer;
}

.p-dialog .p-dialog-header-icons {
    display: none;
}

@media (max-width: 500px) {
    .main-div {
        width: 90%;
    }

}

@media (min-width: 500px) and (max-width: 800px) {
    .main-div {
        width: 80%;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}